/* colors */
/* pixel sizes */
body,
html {
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto Light' !important;
  color: #323231;
  margin: 0;
  padding: 0;
}
div#container {
  /*width: 1240px;*/

  background-color: #f0f0f0;
  height: 100%;
  margin-top: 0;
  padding: 0;
}
div#header {
  height: 55px;
  color: #36a9e1;
  background-color: #383e4b;
  padding: 0;
  padding-top: 7px;
  padding-left: 30px;
}
img#logo {
  margin-right: 16px;
  margin-top: -5px;
}
#header #title {
  font-size: 24px;
  font-weight: 100;
  display: inline-block;
  margin-top: 4px;
}
#header a#logout {
  display: inline-block;
  float: right;
  margin-right: 30px;
  margin-top: 11px;
}
#header a#logout:hover {
  color: #ffffff;
}
#app-content {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
  height: calc(100% - 55px - 2 * 12px);
}
