@import "./variables.less";
@header-height: 55px;

body, html {
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto Light' !important;
    color: #323231;
    margin: 0;
    padding: 0;
}

div#container {
    /*width: 1240px;*/
    background-color: @color-background;
    height: 100%;
    margin-top: 0;
    padding: 0;
}

div#header {
    height: @header-height;   
    color: @color-accent-text;
    background-color: @color-background-contrast;
    padding: 0;
    padding-top: 7px;
    padding-left: 30px;
}

img#logo {
     margin-right: 16px;
     margin-top:-5px;
}

#header #title {
    
    font-size: 24px;
    font-weight: 100;  
    display:inline-block;
    margin-top:4px;   
   
}

#header a#logout {
    display:inline-block;
    float: right;
    margin-right: 30px;
    margin-top: 11px;
}

#header a#logout:hover {
    color:@color-accent-text-hover;
}

#app-content
{
    margin-left: @margin-unit;
    margin-right: @margin-unit;
    margin-top: @margin-unit;
    height:~"calc(100% - @{header-height} - 2 * @{margin-unit})";
   
}
