@import "./variables.less";
@import "./mixins.less";


div.info-panel {
    padding:0;
    
    float: left;
    border:none;   
    border-left: @margin-unit / 2 solid @color-accent;
    background-color: @color-panel-background;
    
    .border-radius-mixin(0); 
    .box-shadow-mixin;
    
    overflow: hidden;   
    height:100%;
           
}

div.info-panel:last-child {
    float: right;
}

.info-panel-6
{
    width:~"calc(60% - @{margin-unit} / 2)";
}

.info-panel-4
{
    width:~"calc(40% - @{margin-unit} / 2)";
}



.info-panel-header {
    background-color: @color-panel-header;
    height: @margin-unit * 3;
    width: 100%;
    margin:0;
    
}

.info-panel-header h1 {
        margin:0;
        line-height:@margin-unit * 3;
        margin-left: @margin-unit;        
        font-size: 18px;
 }



.info-panel-content {
    padding-left: @margin-unit;
    padding-right: @margin-unit;
    margin-top:@margin-unit;       
    
}


   