/* colors */
@color-background: rgb(240,240,240);
@color-background-contrast:rgb(56, 62, 75);
@color-background-contrast-highlight:lighten(@color-background-contrast, 10%);

@color-accent:rgb(54, 169, 225);
@color-text-on-accent:white;
@color-accent-text: rgb(54, 169, 225);
@color-accent-text-hover: white;
@color-accent-dark:darken(@color-accent,25%);


@color-panel-background: white;
@color-panel-header:rgb(204,204,204);
@color-table-background:rgb(254,254,254);
@color-table-background-alternate:darken(@color-table-background,2%);


/* pixel sizes */
@margin-unit:12px;
@panel-header-height:@margin-unit * 3;

/* fonts */
