
    <div id="patientsList" class="info-panel info-panel-6">
        <div class="info-panel-header fontBoldCondensed"><h1>Pacjenci</h1></div>
        <div class="info-panel-content">
            <!--
                <form id="patientsSearchForm">
                    <fieldset>
                        <legend>Wyszukaj pacjentów</legend>
                        <input type="text" name="patientSearch" id="patientsSearch" />
                    </fieldset>
                </form>
                -->
        </div>

    </div>

    <div id="patientsList" class="info-panel info-panel-4">
        <div class="info-panel-header fontBoldCondensed"><h1>Pacjenci2</h1></div>
        <div class="info-panel-content">
            <!--
                <form id="patientsSearchForm">
                    <fieldset>
                        <legend>Wyszukaj pacjentów</legend>
                        <input type="text" name="patientSearch" id="patientsSearch" />
                    </fieldset>
                </form>
                -->
        </div>
        
        <div class="clearfix"></div>

    </div>
    
   
