
    <div id="patientsList" class="col-8 panel">
        <div class="panelHeader fontBoldCondensed"><h1>Pacjenci</h1></div>
        <div class="panelContent">
            <!--
                <form id="patientsSearchForm">
                    <fieldset>
                        <legend>Wyszukaj pacjentów</legend>
                        <input type="text" name="patientSearch" id="patientsSearch" />
                    </fieldset>
                </form>
                -->
        </div>

    </div>

    <div id="patientsList" class="col-4 panel">
        <div class="panelHeader fontBoldCondensed"><h1>Pacjenci2</h1></div>
        <div class="panelContent">
<!--
    <form id="patientsSearchForm">
        <fieldset>
            <legend>Wyszukaj pacjentów</legend>
            <input type="text" name="patientSearch" id="patientsSearch" />
        </fieldset>
    </form>
    -->
        </div>

    </div>
    
   
