
<div id="patientsList" class="panel leftPanel">
   <div class="panelHeader fontBoldCondensed"><h1>Pacjenci</h1></div>
    <div class="panelContent">
    <form id="patientsSearchForm">
        <fieldset>
            <legend>Wyszukaj pacjentów</legend>
            <input type="text" name="patientSearch" id="patientsSearch" />
        </fieldset>
    </form>
        </div>

</div>
