 <div id="patientsQuickDetails" class="info-panel info-panel-4">
        <div class="info-panel-header font-bold-condensed"><h1>Jan Kowalski</h1></div>
        <div class="info-panel-content">
           
        </div>
        
        <div class="clearfix"></div>

    </div>