<div id="patientsList" class="info-panel info-panel-6" ng-controller="PatientsListController">
        <div class="info-panel-header font-bold-condensed"><h1>Pacjenci</h1></div>
        <div class="info-panel-content">
            
            <form id="patientsSearchForm">
                <fieldset>
                    <legend>Wyszukaj pacjentów</legend>
                    <input type="text" name="patientSearch" id="patientsSearch" ng-model="searchText" />
                </fieldset>
            </form>
            
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Adres</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="patient in patients">
                        <td>{{patient.PatientId}}</td>
                        <td>{{patient.Name}}</td>
                        <td>{{patient.Surname}}</td>
                        <td>{{patient.DateOfBirth}}</td>
                    </tr>
                </tbody>

            </table>
                
        </div>

    </div>